{% extends "layout.html" %}

{% block content %}

<!-- 🔹 新增返回上一頁按鈕 -->
<div style="margin-bottom:10px;">
	  <a href="{{ url_for('billing.index') }}"><button class="button-1">TG客戶系統</button></a>
	  <a href="{{ url_for('billing.mfp_summary') }}"><button class="button-1">客戶總表</button></a>
	  <a href="{{ url_for('billing.person_page', sheet='湯家瑋') }}"><button>湯家瑋</button></a>
	  <a href="{{ url_for('billing.person_page', sheet='吳宗鴻') }}"><button>吳宗鴻</button></a>
	  <a href="{{ url_for('billing.person_page', sheet='劉柏均') }}"><button>劉柏均</button></a>
  <button type="button" onclick="history.back()" style="padding:10px 15px; font-size:20px;">← 返回上一頁</button>
  <a href="/"><button class="button-3">回首頁</button></a>
</div>

<h2 style="text-align:center; margin-top:20px;">
    {{ page_name }} — 客戶資料分析
</h2>

<!-- 第一區塊：客戶數量 -->
<h3 style="margin-top:30px; color:#333; font-size:20px;">客戶數量</h3>
<div class="table-container-NO">
    {{ table1 | safe }}
</div>

<!-- 第二區塊：保養週期 -->
<h3 style="margin-top:30px; color:#333; font-size:20px;">保養週期</h3>
<div class="table-container-NO">
    {{ table2 | safe }}
</div>

<!-- 第三區塊：客戶明細 -->
<h3 style="margin-top:30px; color:#333; font-size:20px;">跑勤檢核</h3>
<div class="table-container-NO">
    {{ table3 | safe }}
</div>

{% endblock %}
